<h2><%= currentUser.name %>'s Journal</h2>
<h3>Create a New Entry</h3>
<form action="/profile/journal" method="POST">
    <!-- <div class="form-group"> -->
      <label for="location">Choose a Favorited Location:</label>
      <select name='location' id='location'>
      <% location.forEach(element=>{ %>
        <option value=<%element.latitude%>><%=element.latitude%></option>
      <% }) %>
    </select>
    <label for="title">Journal Title</label>
    <input type="text" id="title" name="title">
    <label for="content">Entry</label>
    <input type="text" id="content" name="content">
    <input hidden type="text" name="userId" value="<%=   %>">
    <input hidden type="text" name="locationId" value="<%=   %>">
    <input type="submit" class="btn btn-primary">
  </form>

<!-- use a for each loop to populate journal titles and names with get method -->
 
<h3>Previous Entries</h3>
<ul>
<% journal.forEach(entry=>{ %>
    <li><%=entry.title%></li>
    <li><%=entry.content%></li>
<% }) %>
</ul>