<div class = "journalContainer">

<h2><%= currentUser.name %>'s Journal</h2>
<div class = "newEntryContainer">
  
  <div class="previousEntriesText">
    <h2>Create a New Entry</h2>
  </div>

  
  <form action="/profile/journal" method="POST">
    <div>
      <label>Choose a Favorited Location:</label>
      <select name='latz'>
        <% location.forEach(element=>{ %>
            <option value=<%=element.zip%>><%=element.zip%></option>
          <% }) %>
    </select>
  </div>

  <div>
    <input id="journalTitle" type="text" placeholder="Title" id="title" name="title">
  </div>
<div>
    <textarea id="journalTextArea" placeholder="Journal Entry Here" id="content" name="content"></textarea>
  </div>
<div>
    How am I feeling today?
    <input type="radio" name="feeling" VALUE='good'>Good
    <input type="radio" name="feeling" VALUE='ok'>Ok
    <input type="radio" name="feeling" VALUE='poor'>Poor
    <input hidden type="text" name="locationId" value="">
    <div>
    <input class="deleteFave" type="submit" value="submit" class="btn btn-primary">
  </div>
  </div>
  </form>
</div>

 <br>
<div class = "previousEntryContainer">
<div class="previousEntriesText">
  <h2>Previous Entries</h2> </div>

<% journal.forEach(entry=>{ %>
    <div class="entries">
      Location: <a href=<%=`/show?zip=${entry.zip}`%>><%=entry.zip%></a>
      <div>Today, I'm feeling:&nbsp;&nbsp;<strong><%=entry.feeling%></strong></div>
      
    
    <div class="actualEntry"><div class="entryTitle"><strong><%=entry.title%></strong> </div><%=entry.content%></div>
 
    <div><%=entry.createdAt%></div>

    <div class="journalButtons">
    <form method="GET" action="/profile/journal/modify">
      <input hidden type="text" name="title" value="<%= entry.title %>">
      <input hidden type="text" name="content" value="<%= entry.content %>">
      <button class="deleteFave" type="submit">edit</button>
      </form>
    
    <form method="POST" action="/profile/journal//_method=DELETE">
    <input hidden type="text" name="title" value="<%= entry.title %>">
    <input hidden type="text" name="content" value="<%= entry.content %>">
    <button class="deleteFave" type="submit">delete</button>
    </form>

   
  </div>
</div>
 
<% }) %>

</div>
