<h2><%= currentUser.name %>'s Journal</h2>
<h3>Create a New Entry</h3>
<form action="/profile/journal" method="POST">
    <!-- <div class="form-group"> -->
      <label>Choose a Favorited Location:</label>
      <select name='latz'>
        <% location.forEach(element=>{ %>
            <option value=<%=element.zip%>><%=element.zip%></option>
          <% }) %>
    </select>
    <label for="title">Journal Title</label>
    <input type="text" id="title" name="title">
    <label for="content">Entry</label>
    <input type="text" id="content" name="content">
    How am I feeling today?
    <input type="radio" name="feeling" VALUE='good'>Good
    <input type="radio" name="feeling" VALUE='ok'>Ok
    <input type="radio" name="feeling" VALUE='poor'>Poor
    <input hidden type="text" name="locationId" value="">
    <input type="submit" class="btn btn-primary">
  </form>

<!-- use a for each loop to populate journal titles and names with get method -->
 
<h3>Previous Entries</h3>
<ul>
<% journal.forEach(entry=>{ %>
  
    Location: <a href=<%=`/show?zip=${entry.zip}`%>><%=entry.zip%></a>
    <li>Title: <%=entry.title%></li>
    <li>Entry: <%=entry.content%></li>
    <li>Feeling: <%=entry.feeling%></li>
    <li>Time: <%=entry.createdAt%></li>
    <form method="DELETE" action="/profile/journal">
    <input hidden type="text" name="title" value="<%= entry.title %>">
    <input hidden type="text" name="content" value="<%= entry.content %>">
    <button class="btn" type="submit">Delete Journal Entry</button>
    </form>

    <form method="GET" action="/profile/journal/modify">
        <!-- add in location information here -->
    <input hidden type="text" name="title" value="<%= entry.title %>">
    <input hidden type="text" name="content" value="<%= entry.content %>">
    <button class="btn" type="submit">Modify Journal Entry</button>
    </form>

<% }) %>
</ul>