<div class="profileHeader">
    <h2 id="profileName"><%= currentUser.name %></h2>
</div>

<h2 class="myLocations">My Locations:</h2>
    <% favorites.forEach(favorite => { %>
        <div class="favoritesContainer">
            <div class="faveZip">
             <a href=<%=`/show?zip=${favorite.zips}`%>>
             <%= favorite.zips %></a>
            </div>

        <div class="deleteZip">
            <form method="POST" action="/profile/?_method=DELETE">
                <input hidden type="number" name="zips" value="<%= favorite.zips %>">
                <input hidden type="number" name="latitude" value="<%= favorite.latitude %>">
                <input hidden type="number" name="longitude" value="<%= favorite.longitude %>">
                <button class="deleteFave" type="submit">delete</button>
            </form>
        </div>

        </div>        
    <% }) %>
