<h1>Information about searched location: <%=searchZip%></h1>
<p>Overall AQI: <%= data.data.indexes.baqi.aqi %></p>
<img src="https://i.imgur.com/VbeHPB2.png" height='30%' width='35%'>
<p>Category: <%= data.data.indexes.baqi.category %></p>
<p>Dominant Pollutant: <%= data.data.indexes.baqi.dominant_pollutant %></p>
<p>Pollutants</p>
<p>CO AQI: <%= data.data.pollutants.co.aqi_information.baqi.aqi %></p>
<button>Learn More</button>
<p>NO2 AQI: <%= data.data.pollutants.no2.aqi_information.baqi.aqi %></p>
<button>Learn More</button>
<p>O3 AQI: <%= data.data.pollutants.o3.aqi_information.baqi.aqi %></p>
<button>Learn More</button>
<p>PM10 AQI: <%= data.data.pollutants.pm10.aqi_information.baqi.aqi %></p>
<button>Learn More</button>
<p>SO2 AQI: <%= data.data.pollutants.so2.aqi_information.baqi.aqi %></p>
<button>Learn More</button>


<form method="POST" action="/profile">
    <input hidden type="number" name="zip" value="<%= searchZip %>">
    <input hidden type="number" name="latitude" value="<%= lat  %>">
    <input hidden type="number" name="longitude" value="<%= long %>">
    <button class="btn" type="submit">Add Location to Favorites</button>
  </form>