<div class="topShowContainer">
  <h1>Air Quality in <%=city%></h1>
  <% if (data.data.current.pollution.aqius>201) { %>
    <img src="https://i.imgur.com/pUXaroN.png" height='9%' width='9%'>
    <p>Hazadous Air Quality</p>
  <% } else if (data.data.current.pollution.aqius>150 && data.data.current.pollution.aqius<201) { %>
    <img src="https://i.imgur.com/dNw9BG9.png" height='9%' width='9%'>
    <p>Poor Air Quality</p>
  <% } else if (data.data.current.pollution.aqius>100 && data.data.current.pollution.aqius<151) { %>
    <img src="https://i.imgur.com/jCm33bW.png" height='9%' width='9%'>
    <p> Moderate Air Quality</p>
  <% } else if (data.data.current.pollution.aqius>50 && data.data.current.pollution.aqius<101) { %>
    <img src="https://i.imgur.com/FXWho6U.png" height='9%' width='9%'>
    <p>Good Air Quality</p>
  <% } else { %>
    <img src="https://i.imgur.com/hKVYSR1.png" height='9%' width='9%'>
    <p> Excellent Air Quality</p>
  <% } %>

  
</div>


<div class="middleShowContainer">
  <div class="apiContainer">
    <h2>Air Quality Index</h2>
    <div class="showText"><%= data.data.current.pollution.aqius %></div>
    <div class="aqiPhoto">
<% if(data.data.current.pollution.aqius>301) { %>
  <img src="https://i.imgur.com/9L6kOxM.png" height='100%' width='100%'>
<% } else if (data.data.current.pollution.aqius>201 && data.data.current.pollution.aqius<301) { %>
  <img src="https://i.imgur.com/3QStzrM.png" height='100%' width='100%'>
<% } else if (data.data.current.pollution.aqius>150 && data.data.current.pollution.aqius<201) { %>
  <img src="https://i.imgur.com/OgTOwa7.png" height='100%' width='100%'>
<% } else if (data.data.current.pollution.aqius>100 && data.data.current.pollution.aqius<151) { %>
  <img src="https://i.imgur.com/wMjx4s8.png" height='100%' width='100%'>
<% } else if (data.data.current.pollution.aqius>50 && data.data.current.pollution.aqius<101) { %>
  <img src="https://i.imgur.com/mQ4Lwwt.png" height='100%' width='100%'>
<% } else { %>
  <img src="https://i.imgur.com/VxYGf4t.png" height='100%' width='100%'>
<% } %>
    </div>
  </div>

<div class="pollutantsContainer">
  <h2 class="pollutants">Pollutants</h3>
  <div class="showText">Dominant Pollutant in <%=city%>: <%= data.data.current.pollution.maincn %></div>
<table>
  <tr>
    <th>Learn More About Dominant Pollutants</th>

  </tr>
  <tr>
    <td><a href="/co">Carbon Monoxide (CO)</a></td>
 
  </tr>
  <tr>
    <td><a href="/no2">Nitrogen Dioxide (NO2)</a></td>
  
  </tr>
  <tr>
    <td><a href="/o3">Ozone (O3)</a></td>
    
  </tr>
  <tr>
    <td><a href="/pm10">Particulate Matter (PM10)</a></td>
   
  </tr>
  <tr>
    <td><a href="/so2">Sulfur Dioxide (SO2)</a></td>
    
  </tr>
</table>
  <div class = "favoriteForm">
  <form method="POST" action="/profile">
    <input hidden type="number" name="zips" value="<%= searchZip %>">
    <input hidden type="number" name="latitude" value="<%= lat  %>">
    <input hidden type="number" name="longitude" value="<%= long %>">
    <button id = "favoritesButton" type="submit">add to favorites</button>
  </form>
  </div>


</div>
</div>

<div class="inhaleLogo"><img src="https://i.imgur.com/3Ymxr7z.png" alt="inhale logo" height= "8%" width="35%"></div>