<div class="topShowContainer">
  <h1>Air Quality in <%=searchZip%></h1>

  <% if (data.data.indexes.baqi.aqi>201) { %>
    <img src="https://i.imgur.com/pUXaroN.png" height='9%' width='9%'>
  <% } else if (data.data.indexes.baqi.aqi>150 && data.data.indexes.baqi.aqi<201) { %>
    <img src="https://i.imgur.com/dNw9BG9.png" height='9%' width='9%'>
  <% } else if (data.data.indexes.baqi.aqi>100 && data.data.indexes.baqi.aqi<151) { %>
    <img src="https://i.imgur.com/jCm33bW.png" height='9%' width='9%'>
  <% } else if (data.data.indexes.baqi.aqi>50 && data.data.indexes.baqi.aqi<101) { %>
    <img src="https://i.imgur.com/FXWho6U.png" height='9%' width='9%'>
  <% } else { %>
    <img src="https://i.imgur.com/hKVYSR1.png" height='9%' width='9%'>
  <% } %>

  <p><%= data.data.indexes.baqi.category %></p>
</div>


<div class="middleShowContainer">
  <div class="apiContainer">
    <h2>Air Quality Index</h2>
    <div class="showText"><%= data.data.indexes.baqi.aqi %></div>
    <div class="aqiPhoto">
<% if(data.data.indexes.baqi.aqi>301) { %>
  <img src="https://i.imgur.com/9L6kOxM.png" height='100%' width='100%'>
<% } else if (data.data.indexes.baqi.aqi>201 && data.data.indexes.baqi.aqi<301) { %>
  <img src="https://i.imgur.com/3QStzrM.png" height='100%' width='100%'>
<% } else if (data.data.indexes.baqi.aqi>150 && data.data.indexes.baqi.aqi<201) { %>
  <img src="https://i.imgur.com/OgTOwa7.png" height='100%' width='100%'>
<% } else if (data.data.indexes.baqi.aqi>100 && data.data.indexes.baqi.aqi<151) { %>
  <img src="https://i.imgur.com/wMjx4s8.png" height='100%' width='100%'>
<% } else if (data.data.indexes.baqi.aqi>50 && data.data.indexes.baqi.aqi<101) { %>
  <img src="https://i.imgur.com/mQ4Lwwt.png" height='100%' width='100%'>
<% } else { %>
  <img src="https://i.imgur.com/VxYGf4t.png" height='100%' width='100%'>
<% } %>
    </div>
  </div>

<div class="pollutantsContainer">
  <h2 class="pollutants">Pollutants</h3>
  <div class="showText">Dominant Pollutant: <%= data.data.indexes.baqi.dominant_pollutant %></div>
<table>
  <tr>
    <th>Pollutant</th>
    <th>Concentration (ppm)</th>
  </tr>
  <tr>
    <td><a href="/co">Carbon Monoxide (CO)</a></td>
    <td><%= data.data.pollutants.co.aqi_information.baqi.aqi %></td>
  </tr>
  <tr>
    <td><a href="/no2">Nitrogen Dioxide (NO2)</a></td>
    <td><%=data.data.pollutants.no2.aqi_information.baqi.aqi%></td>
  </tr>
  <tr>
    <td><a href="/o3">Ozone (O3)</a></td>
    <td><%= data.data.pollutants.o3.aqi_information.baqi.aqi %></td>
  </tr>
  <tr>
    <td><a href="/pm10">Particulate Matter (PM10)</a></td>
    <td><%= data.data.pollutants.pm10.aqi_information.baqi.aqi %></td>
  </tr>
  <tr>
    <td><a href="/so2">Sulfur Dioxide (SO2)</a></td>
    <td><%= data.data.pollutants.so2.aqi_information.baqi.aqi %></td>
  </tr>
</table>
  <div class = "favoriteForm">
  <form method="POST" action="/profile">
    <input hidden type="number" name="zip" value="<%= searchZip %>">
    <input hidden type="number" name="latitude" value="<%= lat  %>">
    <input hidden type="number" name="longitude" value="<%= long %>">
    <button id = "favoritesButton" type="submit">add to favorites</button>
  </form>
  </div>


</div>
</div>

<div class="inhaleLogo"><img src="https://i.imgur.com/3Ymxr7z.png" alt="inhale logo" height= "8%" width="35%"></div>