<div class="journalContainer">
<h1>Edit Journal Entry</h1>


<div class = "newEntryContainer">
<form action="/profile/journal" method="POST">
    <!-- <div class="form-group"> -->
    <br>
      <div><label for='zip'>Location: <%=foundJournal.zip%></label></div>
      <div>
    <input id="journalTitle" type="text" value="<%=foundJournal.title%>" id="title" name="newTitle"></div>
    <div>
    <textarea id="journalTextArea" value="<%=foundJournal.content%>"id="content" name="newContent"><%=foundJournal.content%></textarea></div>
    <input hidden type="number" name="journalId" value="<%=foundJournal.id%>">
    <div>How am I feeling today?
    <input type="radio" name="feeling" VALUE='good'>Good
    <input type="radio" name="feeling" VALUE='ok'>Ok
    <input type="radio" name="feeling" VALUE='poor'>Poor</div><br>
   <div><button class="updateJournalButton" type="submit">update journal</button></div> 
  </form>
</div>
</div>